.p-2 {
    margin-left: 5vw;
    margin-top: 6vh;
}

ion-button {
    width: 200px;
    margin-left: 6vw;
    font-size: 16px;
    height: 50px;
    border-radius: 5px;
    background: rgb(78, 139, 251);
}


ion-button.btn-h300 {
    margin-top: 8vh;
}